spring:
  application:
    name: view-log-backend

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:viewlogdb
    driver-class-name: org.h2.Driver
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect

springdoc:
  swagger-ui:
    enabled: true

server:
  port: 8089
